
/*===============================navigation Bar============================================*/

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 350px;
    margin: auto;
}
.about, .services, .skills, .education, .experience, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

/*.about .about-content,*/
/*.services .serv-content,*/
/*.skills .skills-content,*/
/*.contact .contact-content{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/

.navBar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navBar.sticky{
    padding: 15px 0;
    background: orange;
}

.navBar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar .menu li{
    list-style: none;
    display: inline-block;
}

.navBar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}
.navBar .menu li a:hover{
    color: orange;
}
.navBar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


header > nav {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navBar.sticky{
    padding: 15px 0;
    background: orange;
}

.navBar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > nav > ul {
    position: absolute;
    right: 50px;
    font-family: 'Alegreya Sans SC', sans-serif;
    list-style: none;
}

header > nav > ul > li {
    padding: 0 4px 0 4px;
    display: inline-block;
    transition: all 0.3s ease;
    font-size: 18px;
}

header > nav > ul > li:hover{
    cursor: pointer;
    color: #FFC700;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

header > nav > ul > li > a {
    text-decoration: none;
    align-items: center;
    margin-left: 46px;
    color: #fff;
    transition: all 0.3s ease;
    position: relative;
}

header > nav > ul > li > a:hover {
    cursor: pointer;
    color: orange;
}

.contactFixed{
    z-index: 1;
    width: 60px;
    height: 60px;
    background: #eeeeee;
    position: fixed;
    right: 0;
    bottom: 50px;
    border-radius: 100px;
    padding: 0;
    /*align-items: center;*/
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    margin-right: 50px;
}
.contactFixed > a > i {
    z-index: 2;
    width: 50px;
    height: 50px;
    font-size: 34px;
    text-align: center;
    color: dodgerblue;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: fixed;
    transition: all 0.3s ease;
    justify-content: center;
}


.contactFixed:hover{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: pointer;
}

.contactFixed > i:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    cursor: pointer;
}


/*=============================homeContent====================================================*/
#home {
    max-width: 100vw;
    height: 100vh;
    background-color: #404040;
    display: flex;
    position: relative;
}
.imgDiv {
    background-color: #404040;
    max-width: 40%;
    height: 100vh;
    width: 100%;
}
.infoDiv {
    background-color: #404040;
    width: 100%;
    max-width: 60%;
    height: 100vh;
}
.imgDiv .mainImage {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 600px;
}
.infoDiv h2 {
    color: #ffffff;
    margin: 0;
    padding-top: 112px;
    padding-right: 100px;
    text-align: right;
    font-size: 58px;
    font-family: 'Roboto', sans-serif;
}
.infoDiv p:nth-child(2) {
    /*right: 0;*/
    color: #ffffff;
    margin: 0;
    padding-top: 15px;
    padding-right: 100px;
    text-align: right;
    font-size: 34px;
    font-family: 'Alegreya SC', serif;
}
.infoDiv p:nth-child(3) {
    /*right: 0;*/
    color: #ffffff;
    margin: 0;
    padding-top: 15px;
    padding-right: 100px;
    text-align: right;
    font-size: 26px;
    font-family: 'Alegreya SC', serif;
}
.infoDiv .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
}
.infoDiv .row .buttons {
    margin-top: 30px;
    margin-right: 30px;
}
.infoDiv .row .buttons .btn {
    margin-right: 15px;
    position: relative;
    left: 448px;
}
.btn {
    font-size: 24px;
    font-weight: 500;
    padding: 11px 17px;
    color: #000000;
    font-family: 'Alegreya Sans SC', sans-serif;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFC700;
    text-decoration: none;
}
.btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #97CC00;
}
.infoDiv .preText{
    color: #ffffff;
    margin: 0;
    padding-top: 110px;
    padding-right: 100px;
    text-align: right;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.social-links{
    margin-top: 10px;
    padding-right: 100px;
    text-align: right;
}
.social-links a{
    height: 50px;
    width: 50px;
    font-size: 28px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #000000;
    margin: 3px 10px;
    border-radius: 50%;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #FFC700;

}



.social-links a:hover{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    background-color: #97CC00;
}

/*=======================================Service=======================================*/

#service{
    max-width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
}

.service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box{
    width: 280px;
    height: 280px;
    background-color: #FFC700;
    margin-top: 114px;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.box:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #97CC00;

}
.box h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-family: 'Alike Angular', serif;
}

.box p{
    font-size: 18px;
    text-align: center;
    margin: 18px;
    font-family: 'Adamina', serif;
}

.boxOne{
    position: relative;
    width: 1100px;
    height: 60px;
    background-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    margin-left: 100px;
    margin-top: 105px;
    margin-bottom: 25px;

}

.boxTwo{
    position: relative;
    width: 1100px;
    height: 60px;
    background-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    margin-left: 100px;
    margin-top: 0;

}

.text{
    position: absolute;
    font-size: 26px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-top: 15px;
    width: 458px;
    left: 300px;
    font-family: 'Alike Angular', serif;
}

.serviceText {
    position: absolute;
    font-size: 22px;
    color: #FFC700;
    margin-top: 60px;
    margin-left: 36px;
    padding: 0;
    font-family: 'Alike Angular', serif;
}

.experienceText{
    position: absolute;
    font-size: 22px;
    color: #FFC700;
    margin-top: 60px;
    margin-left: 36px;
    padding: 0;
    font-family: 'Alike Angular', serif;

}

.fiverr{
    z-index: 1;
    position: absolute;
    width: 160px;
    height: 60px;
    background-size: contain;
    top: 0;
    left: 10px;
}

.freelance{
    z-index: 1;
    position: absolute;
    width: 160px;
    height: 60px;
    background-size: contain;
    top: 0;
    left: 10px;
}

.imgPos{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    margin-top: 16px;
}

.imgWeb{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    margin-top: 40px;
}

.imgUiUx{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    margin-top: 16px;
}

.imgMobile{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    margin-top: 16px;
}

.experienceSeeMore{
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    position: absolute;
    right: 0;
    margin-right: 12px;
    margin-top: 38px;
    transition: all 0.3s ease;
}

.experienceSeeMore:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

/*===========================================================Skills===========================================================*/

#skills{
    max-width: 100vw;
    height: 100vh;
    background-color: #404040;
    position: relative;
}

.skillText{
    position: absolute;
    font-size: 22px;
    color: #FFC700;
    margin-top: 106px;
    margin-left: 40px;
    padding: 0;
    font-family: 'Alike Angular', serif;
    color: #FFC700;
}

.java > img{
    margin-top: 26vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.java > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 176px;
    padding: 0;
    box-sizing: border-box;
}

.javaLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 210px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.angular > img{
    margin-top: 26vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.angular > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 176px;
    padding: 0;
    box-sizing: border-box;
}

.angularLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 210px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.react > img{
    margin-top: 26vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.react >h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 176px;
    padding: 0;
    box-sizing: border-box;
}

.reactLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 210px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.python > img{
    margin-top: 26vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.python >h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 176px;
    padding: 0;
    box-sizing: border-box;
}

.pythonLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 210px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.lineOne{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.lineTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.lineTree{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.lineFour{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.mysql > img{
    margin-top: 42vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.mysql > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 282px;
    padding: 0;
    box-sizing: border-box;
}

.mySqlLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 314px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.adobeXD > img{
    margin-top: 42vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.adobeXD > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 282px;
    padding: 0;
    box-sizing: border-box;
}

.xdLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 314px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.javascript > img{
    margin-top: 42vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.javascript > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 282px;
    padding: 0;
    box-sizing: border-box;
}

.javaScriptLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 314px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.nodeJS > img{
    margin-top: 42vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.nodeJS > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 282px;
    padding: 0;
    box-sizing: border-box;
}

.nodeJsLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 314px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.illustrate > img{
    margin-top: 60vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.illustrate > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 400px;
    padding: 0;
    box-sizing: border-box;
}

.illustrateLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 434px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.photoshop > img{
    margin-top: 60vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.photoshop > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 400px;
    padding: 0;
    box-sizing: border-box;
}

.photoshopLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 434px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.html > img{
    margin-top: 60vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.html > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 400px;
    padding: 0;
    box-sizing: border-box;
}

.htmlLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 434px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.css > img{
    margin-top: 60vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.css > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 400px;
    padding: 0;
    box-sizing: border-box;
}

.cssLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 434px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.spring > img{
    margin-top: 80vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.spring > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 530px;
    padding: 0;
    box-sizing: border-box;
}

.springLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 568px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.flutter > img{
    margin-top: 80vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.flutter > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 530px;
    padding: 0;
    box-sizing: border-box;
}

.flutterLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 568px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.figma > img{
    margin-top: 80vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.figma > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 530px;
    padding: 0;
    box-sizing: border-box;
}

.figmaLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 568px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.intelij > img{
    margin-top: 80vh;
    margin-left: -60px;
    width: 54px;
    height: 54px;
    position: absolute;
    box-sizing: border-box;
}

.intelij > h5{
    position: absolute;
    font-size: 20px;
    color: #FFC700;
    margin-top: 530px;
    padding: 0;
    box-sizing: border-box;
}

.intelijLine{
    width: 120px;
    height: 6px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    margin-top: 568px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

/*===========================================================Education===========================================================*/
#education{
    max-width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
}

.eduSection{
    position: absolute;
}

.eduBar{
    width: 9px;
    height: 577px;
    position: relative;
    background-color: #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    margin-left: 662px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.bollOne{
    border-radius: 100px;
    background-color: #C4C4C4;
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -11px;
    margin-top: 57px;
}

.bollTwo{
    border-radius: 100px;
    background-color: #C4C4C4;
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -11px;
    margin-top: 180px;
}

.bollThree{
    border-radius: 100px;
    background-color: #C4C4C4;
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -11px;
    margin-top: 325px;
}

.bollFour{
    border-radius: 100px;
    background-color: #C4C4C4;
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: -11px;
    margin-top: 480px;
}

.eduInfo{
    position: relative;
}

.ijseLogo{
    position: absolute;
    width: 220px;
    height: 140px;
    background-size: contain;
    margin-top: -598px;
    margin-left: 50px;
}

.mahindaLogo{
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-top: -298px;
    margin-left: 120px;
}

.ucscLogo{
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: contain;
    margin-top: -490px;
    margin-left: 1135px;
}

.nagodaLogo{
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: contain;
    margin-top: -152px;
    margin-left: 1160px;
}

.ijseInfo{
    position: absolute;
    font-size: 18px;
    color: #eeeeee;
    font-family: 'Aladin', cursive;
    margin-top: -557px;
    margin-left: 173px;
}

.nagodaInfo{
    position: absolute;
    font-size: 18px;
    color: #eeeeee;
    font-family: 'Aladin', cursive;
    margin-top: -140px;
    margin-left: 790px;
    text-align: right;
}

.uscsInfo{
    position: absolute;
    font-size: 18px;
    color: #eeeeee;
    font-family: 'Aladin', cursive;
    margin-top: -450px;
    margin-left: 620px;
    text-align: right;
}

.mahindaInfo{
    position: absolute;
    font-size: 18px;
    color: #eeeeee;
    font-family: 'Aladin', cursive;
    margin-top: -290px;
    margin-left: 173px;
}






/*===========================================================Projects===========================================================*/
#project{
    max-width: 100vw;
    height: 100vh;
    background-color: #404040;
    position: relative;
}

.projectText{
    position: absolute;
    font-size: 22px;
    color: #FFC700;
    margin-top: 90px;
    margin-left: 36px;
    padding: 0;
    font-family: 'Alike Angular', serif;
    color: #FFC700;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.projectBox{
    width: 280px;
    height: 380px;
    background-color: #FFC700;
    margin-top: 170px;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

.projectBox:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #97CC00;
}

.projectBox > h2{
    font-size: 24px;
    text-align: center;
    margin: 16px;
    padding-top: 18px;
    font-family: 'Alike Angular', serif;
    color: #171616;
}

.project > a{
    text-decoration: none;
}

.img1{
    position: absolute;
    width: 280px;
    height: 224px;
}

.img2{
    position: absolute;
    width: 280px;
    height: 166px;
    margin-top: 30px;
}

.img3{
    position: absolute;
    width: 280px;
    height: 220px;
}

.img4{
    position: absolute;
    width: 280px;
    height: 208px;
}








/*===========================================================Gallery===========================================================*/
#gallery{
    max-width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
}

.galleryImage{
    position: relative;
}

.my1{
    position: absolute;
    width: 20vw;
    height: 58vh;
    background-size: cover;
    margin-top: 140px;
    margin-left: 34px;
    transition: all 0.3s ease;
}

.my1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.my2{
    position: absolute;
    width: 29vw;
    height: 38vh;
    background-size: cover;
    margin-top: 376px;
    margin-left: 371px;
    transition: all 0.3s ease;
}

.my2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.my3{
    position: absolute;
    width: 34vw;
    height: 42vh;
    background-size: cover;
    margin-top: 78px;
    margin-left: 810px;
    transition: all 0.3s ease;
}

.my3:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.my4{
    position: absolute;
    width: 30vw;
    height: 38vh;
    background-size: cover;
    margin-top: 82px;
    margin-left: 351px;
    transition: all 0.3s ease;
}

.my4:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.my5{
    position: absolute;
    width: 28vw;
    height: 34vh;
    background-size: cover;
    margin-top: 396px;
    margin-left: 860px;
    transition: all 0.3s ease;
}

.my5:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}









/*===========================================================Contact===========================================================*/
#contact{
    max-width: 100vw;
    height: 100vh;
    background-color: #404040;
    position: relative;
}

.contactForm{
    position: relative;
}

.fullName{
    width: 600px;
    height: 40px;
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 14px;
    align-items: center;
    margin-left: 60px;
    margin-top: 110px;
}

.email{
    width: 600px;
    height: 40px;
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 14px;
    align-items: center;
    margin-left: 60px;
    margin-top: 190px;
}

.typeHere{
    width: 600px;
    height: 280px;
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 14px;
    align-items: center;
    margin-left: 60px;
    margin-top: 260px;
}

.formText{
    color: #000000;
    font-family: 'Alata', sans-serif;
    margin-left: 14px;
    margin-top: 12px;
    font-size: 18px;
    opacity: 70%;
}
.tp >i{
    font-size: 54px;
    color: #FFC700;
    display: inline-block;
    text-align: center;
    margin-top: 150px;
    margin-left: 810px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #404040;
}

.tp > p{
    margin-left: 920px;
    margin-top: -42px;
    font-family: 'Aclonica', sans-serif;
    font-size: 32px;
    color: #eeeeee;
}

.em > i{
    font-size: 54px;
    color: #FFC700;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 810px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #404040;
}

.em > p{
    margin-left: 920px;
    margin-top: -44px;
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
    color: #eeeeee;
}

.tyh > i{
    font-size: 54px;
    color: #FFC700;
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-left: 810px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #404040;
}

.tyh > pre{
    margin-left: 786px;
    margin-top: -86px;
    font-family: 'Aclonica', sans-serif;
    font-size: 24px;
    color: #eeeeee;
}

.sendMe{
    margin-top: 0px;
    margin-right: 30px;
}

.sendMeBtn{
    margin-right: 15px;
    position: relative;
    left: 530px;
    top: 580px;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 17px;
    color: #000000;
    font-family: 'Alegreya Sans SC', sans-serif;
    border-radius: 40px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFC700;
    text-decoration: none;
}

.sendMeBtn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #97CC00;
}




/*========================================================Footer====================================================================*/
footer{
    max-width: 100vw;
    height: 30vh;
    background-color: #000000;
}

footer > nav {
    position: absolute;
    width: 100%;
    height: 0px;
    margin-top: -8px;
    transition: all 0.3s ease;
    background: #000000;
}

footer > nav > ul {

    position: absolute;
    right: 414px;
    font-family: 'Alegreya Sans SC', sans-serif;
    list-style: none;
}

footer > nav > ul > li {
    padding: 6px 6px 0 6px;
    display: inline-block;
    transition: all 0.3s ease;
    font-size: 14px;
}

footer > nav > ul > li > a {
    text-decoration: none;
    padding-bottom: 8px;
    margin-left: 13px;
    color: #fff;
    position: relative;
}

footer > nav > ul > li:hover{
    cursor: pointer;
    color: #FFC700;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

footer > nav > ul > li > a:hover {
    cursor: pointer;
    color: #FFC700;
}

.footerName{
    color: #eeeeee;
    margin: 0;
    padding-left: 450px;
    padding-top: 6px;
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
}

.copyRight{
    color: #eeeeee;
    margin-top: 18px;
    padding-left: 468px;
    font-family: 'Risque', cursive;
}

.footerLinks{
    margin: 0;
    padding-top: 10px;
    padding-right: 520px;
    text-align: right;
}

.footerLinks > a> i{
    font-size: 42px;
    color: #FFC700;
    display: inline-block;
    text-align: center;
    margin: 3px 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #000000;
}

.footerLinks > a> i:hover{
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    background-color: #000000;
}

/*========================================================Responsive====================================================================*/


@media all and (max-width: 425px){

}